.button a   {
    margin-top: 35px;
    margin-bottom: 119px;
    background-color: #240202;
    border: 2px solid #0039BA;
    color: #FFFFFF;
    text-decoration: none;
    line-height: 50px;
    font-size: 35px;
    font-style: normal;
    font-family: 'Merriweather';
    padding: 14px 33px 14px 33px;
    width: 100%;

}