.button {
    margin-top: 35px;
    margin-bottom: 119px;
    position: relative;
    background-color: #240202;
    border: 2px solid #000000;
    display: block;
    padding: 14px 33px;
}

.button a:link,
.button a:visited,
.button a:hover,
.button a:active {
    color: #FFFFFF;
    line-height: 50px;
    font-size: 35px;
    font-style: normal;
    font-family: "Merriweather", serif;
    text-decoration: none;
}

.button:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 34px;
    display: block;
    background-image: url(../img/arrow.png);
    background-size: 28px 34px;
    right: 14px;
    top: 50%;
    transform: translateY(-50%)
    }