.hero-blue{
    background-color: #CEFBFF;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hero-pink{
    background-color: #ECCEFF;
    width: 100%;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 200px;
}
.hero-white{
    background-color: #F5F5F5;
    border: 1px solid #707070;    
    width: 100%;
    margin: 0;
    padding: 0;
}