.list ol {
    margin-top: 223px;
    list-style: decimal-leading-zero;
    list-style-position: inside;
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 70px;
    line-height: 88px;
    color: #707070;
}

.list p {
    margin-top: 15px;
    margin-bottom: 77px;
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    color: #707070;
}

.list a {
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FF0000;
}

.list hr {
    margin-top: 8px;
    opacity: 90;
    border: 2px solid #707070;
}