.listcomponent ol {
    margin-top: 104px;
    margin-bottom: 8px;
    list-style: decimal-leading-zero;
    list-style-position: inside;
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 70px;
    line-height: 88px;
    color: #707070;
}

.listcomponent p {
    margin-top: 15px;
    margin-bottom: 53px;
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    color: #707070;
}

.listcomponent a {
    font-family: 'Merriweather';
    font-style: normal;
    font-size: 22px;
    line-height: 34px;
    color: #FF0000;
}

.listcomponent hr {
    margin-bottom: 15px;
    opacity: 90;
    border: 2px solid #707070;
}